In [150]:
import pandas as pd
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split

In [124]:
df = pd.read_csv('./datasets/melb_data.csv')

In [125]:
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [126]:
df.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

In [127]:
df = df.dropna(axis=0)

In [128]:
df.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,6196.000000,6.196000e+03,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000
mean,2.931407,1.068828e+06,9.751097,3101.947708,2.902034,1.576340,1.573596,471.006940,141.568645,1964.081988,-37.807904,144.990201,7435.489509
std,0.971079,6.751564e+05,5.612065,86.421604,0.970055,0.711362,0.929947,897.449881,90.834824,38.105673,0.075850,0.099165,4337.698917
min,1.000000,1.310000e+05,0.000000,3000.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1196.000000,-38.164920,144.542370,389.000000
25%,2.000000,6.200000e+05,5.900000,3044.000000,2.000000,1.000000,1.000000,152.000000,91.000000,1940.000000,-37.855438,144.926198,4383.750000
50%,3.000000,8.800000e+05,9.000000,3081.000000,3.000000,1.000000,1.000000,373.000000,124.000000,1970.000000,-37.802250,144.995800,6567.000000
75%,4.000000,1.325000e+06,12.400000,3147.000000,3.000000,2.000000,2.000000,628.000000,170.000000,2000.000000,-37.758200,145.052700,10175.000000
max,8.000000,9.000000e+06,47.400000,3977.000000,9.000000,8.000000,10.000000,37000.000000,3112.000000,2018.000000,-37.457090,145.526350,21650.000000

In [129]:
prediction_target = df['Price']
prediction_target.head()

1    1035000.0
2    1465000.0
4    1600000.0
6    1876000.0
7    1636000.0
Name: Price, dtype: float64

In [130]:
for column in df.columns:
    dtype = df[column].dtype

    if dtype=='float64' or dtype=='int64':
        correlation = df['Price'].corr(df[column])
        print(f"Correlation of {column} to Price is {correlation}")

Correlation of Rooms to Price is 0.5335053562308806
Correlation of Price to Price is 1.0
Correlation of Distance to Price is -0.14886684630931893
Correlation of Postcode to Price is 0.12553926714530064
Correlation of Bedroom2 to Price is 0.514561490349578
Correlation of Bathroom to Price is 0.503922471675819
Correlation of Car to Price is 0.2615067274723971
Correlation of Landsize to Price is 0.08141853988353374
Correlation of BuildingArea to Price is 0.5305737802302438
Correlation of YearBuilt to Price is -0.3046325343218109
Correlation of Lattitude to Price is -0.21357391084798066
Correlation of Longtitude to Price is 0.21175974067971004
Correlation of Propertycount to Price is -0.04640990539904075

In [131]:
prediction_features = ['Rooms', 'Bathroom', "BuildingArea"]

In [132]:
df_prediction = df[prediction_features]

In [133]:
df_prediction.describe()

             Rooms     Bathroom  BuildingArea
count  6196.000000  6196.000000   6196.000000
mean      2.931407     1.576340    141.568645
std       0.971079     0.711362     90.834824
min       1.000000     1.000000      0.000000
25%       2.000000     1.000000     91.000000
50%       3.000000     1.000000    124.000000
75%       4.000000     2.000000    170.000000
max       8.000000     8.000000   3112.000000

In [134]:
df_prediction.head()

   Rooms  Bathroom  BuildingArea
1      2       1.0          79.0
2      3       2.0         150.0
4      4       1.0         142.0
6      3       2.0         210.0
7      2       1.0         107.0

In [135]:
Model = DecisionTreeRegressor(random_state=1)
Model.fit(df_prediction, prediction_target)

DecisionTreeRegressor(random_state=1)

In [136]:
df_prediction.head()

   Rooms  Bathroom  BuildingArea
1      2       1.0          79.0
2      3       2.0         150.0
4      4       1.0         142.0
6      3       2.0         210.0
7      2       1.0         107.0

In [137]:
predicted_prices = Model.predict(df_prediction).round()
predicted_prices

array([ 684304., 1078400., 1665000., ...,  385000.,  560000., 2450000.])

In [138]:
df_prediction['Predicted price'] = predicted_prices

/var/folders/3_/bqvxx98j7_5c2n7fb6h8gp900000gn/T/ipykernel_3640/3765104434.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_prediction['Predicted price'] = predicted_prices

In [139]:
df_prediction.head()

   Rooms  Bathroom  BuildingArea  Predicted price
1      2       1.0          79.0         684304.0
2      3       2.0         150.0        1078400.0
4      4       1.0         142.0        1665000.0
6      3       2.0         210.0        2103000.0
7      2       1.0         107.0        1022833.0

In [140]:
prediction_target.head()

1    1035000.0
2    1465000.0
4    1600000.0
6    1876000.0
7    1636000.0
Name: Price, dtype: float64

In [141]:
df['Predicted Price'] = predicted_prices

In [142]:
analysis_column = prediction_features
analysis_column.append("Price")
analysis_column.append("Predicted Price")
df[analysis_column]

       Rooms  Bathroom  BuildingArea      Price  Predicted Price
1          2       1.0         79.00  1035000.0         684304.0
2          3       2.0        150.00  1465000.0        1078400.0
4          4       1.0        142.00  1600000.0        1665000.0
6          3       2.0        210.00  1876000.0        2103000.0
7          2       1.0        107.00  1636000.0        1022833.0
...      ...       ...           ...        ...              ...
12205      3       2.0        149.00   601000.0        1028385.0
12206      3       1.0        115.00  1050000.0        1004343.0
12207      1       1.0         35.64   385000.0         385000.0
12209      2       1.0         61.60   560000.0         560000.0
12212      6       3.0        388.50  2450000.0        2450000.0

[6196 rows x 5 columns]

In [148]:
y = df.Price
melbourne_features = ['Rooms', 'Bathroom', 'Landsize', 'BuildingArea', 
                        'YearBuilt', 'Lattitude', 'Longtitude']
X = df[melbourne_features]


melbourne_model = DecisionTreeRegressor()
melbourne_model.fit(X, y)

DecisionTreeRegressor()

In [149]:
predicted_home_prices = melbourne_model.predict(X)
mean_absolute_error(y, predicted_home_prices)

434.71594577146544

In [154]:
train_X,val_X, train_y, val_y = train_test_split(X, y, random_state=0)
 
melbourne_model = DecisionTreeRegressor(max)
melbourne_model.fit(train_X, train_y,ran)

val_predictions = melbourne_model.predict(val_X)
print(mean_absolute_error(val_y, val_predictions))

263276.38799225306